[submodule "src/main/java/no/ntnu/microservice/model/sharedmodels"]
	path = src/main/java/no/ntnu/microservice/model/sharedmodels
	url = https://magngje:glpat-n8mQn4Gw5YvgEQRNRmZ1@gitlab.stud.idi.ntnu.no/idatt2106_2024_11/shared-models.git
